<div class="container mt-3">
<h1 class="h1>Recipes</h1>
  <div class="mb-4">
    <%= link_to "Add New Recipe", new_recipe_path, class: "btn btn-primary" %>
  </div>
  <% @recipes.each do |recipe| %>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title"><%= link_to recipe.name, recipe, class: "text-decoration-none text-reset" %></h2>
        <p class="card-text"><strong>Description:</strong> <%= recipe.description %></p>
        <p class="card-text"><strong>Preparation Time:</strong> <%= recipe.preparation_time_minutes%> minutes</p>
        <p class="card-text"><strong>Cooking Time:</strong> <%= recipe.cooking_time_minutes %> minutes</p>
        
        <% if current_user == recipe.user %>
          <%= button_to "REMOVE", recipe_path(recipe.id), method: :delete, class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>