<div class="container-sm" style="height: 50vh;">
  <div class="card p-5">
    <div class="card-body">
      <h2 class="card-title h2 ">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group h4 mt-5">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

         <div class="form-group h4 mt-2">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>


       <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

   <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div style="margin-top: 10px;">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>