<div class="container p-3">
  
 <h1 class="food_title text-center h1">Foods page</h3>
 <div class="container d-flex justify-content-end pe-5">
 <%= link_to "Add Food", new_food_path, method: :post, class: "btn btn-outline-success" %>
 </div>
 <table class="table table-striped">
 <% if @foods.present? %>
     <thead>
       <tr>
         <th class="input title" >Food</th>
         <th class="input title" >Measurement unit</th>
         <th class="input title">Unit price</th>
         <th class="input title">Actions</th>
        </tr>
     </thead>
   <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td class="input"><%= food.name %></td>
        <td class="input"><%= food.measurement_unit %></td>
        <td class="input"><%= food.price %></td>
        <td class="input">
            <%= link_to 'Delete', food_path(food), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
        </td>
      </tr>
       <% end %>
       </tbody>
       <% else %> 
        <p class="text-center display-6 ">No foods found</p>
    <% end %>
</table>
</div>